/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/

header{
  width: 100%;
  height: 100px;
  display: block;
}

header nav > *{
  float: left;
  width: 10%;
}

header nav ul {
  width: 60%;
  list-style: none;
}
nav li {
  float: left;
  margin: 0 3%;
}

main > *{
  float: left;
  width: 50%;

}
main aside > section{
  float: left;
  height: 250px;
  width: 50%;
}

main{
  height: 500px;
  width: 100%;
}

section section {
  float: left;
  width: 33%;
  margin: 2px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
